/*BARRA DE NAVEGAÇÃO*/
body{
    background-image: url(arstationWALL5.jpg);
    background-color: #f1f0f0;
    background-size: cover;
    color: #fff;
}
.logoname a {
    text-decoration: none; /* Remove o sublinhado da logo */
    color: #fff; /* Define a cor do texto do link */
}
.navbar-transparent{
    background-color: transparent;
    box-shadow: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.navbar-nav .nav-link {
    color: #fff; /* Cor do texto do link na barra de navegação */
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-nav .nav-link.dropdown-toggle {
    color: #fff;
}

/* Cor do texto do link do dropdown quando aberto */
.navbar-nav .nav-link.dropdown-toggle.show {
    color: rgb(200, 200, 200); 
} 
.logoname{
    font-family: GRANDGALAXY;
    color: aliceblue;
}
/*fonte da logo*/
@font-face {
    font-family: GRANDGALAXY;
    src: url(GRANDGALAXY.otf) format('OpenType');
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf) format('OpenType');
}
p{
    font-family: Roboto;
    color: #f1f0f0;
}
/*FIM DA BARRA DE NAVEGAÇÃO*/
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: GRANDGALAXY;
    color: rgb(255, 255, 255);
    margin-top: 2%;
    
}
.row p, h5{
    color: #000000;
    font-family: Roboto;
    
}
.cartao1 {
    max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    width: 100%; /* Garante que não ultrapasse a largura máxima */
}
.cartao1 {
    margin-top: 10%; 
    display: flex; 
}
.cartao2 {
    max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    width: 100%; /* Garante que não ultrapasse a largura máxima */
}
.cartao2 {
    margin-top: 10%;
    margin-left: 12%; 
    display: flex; 
}
.cartao3 {
    max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    width: 100%; /* Garante que não ultrapasse a largura máxima */
}
.cartao3 {
    margin-top: 10%; 
    display: flex; 
}
.cartao4 {
    max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    width: 100%; /* Garante que não ultrapasse a largura máxima */
}
.cartao4 {
    margin-top: 10%;
    margin-left: 12%; 
    display: flex; 
}
.cartao5 {
    max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    width: 100%; /* Garante que não ultrapasse a largura máxima */
}
.cartao5 {
    margin-top: 10%; 
    display: flex;
    margin-bottom: 5%;  
}
.cartao6 {
    max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    width: 100%; /* Garante que não ultrapasse a largura máxima */
}
.cartao6 {
    margin-top: 10%;
    margin-left: 12%;
    margin-bottom: 5%; 
    display: flex; 
}
