body{
    background-image: url(arstationWALL.jpg);
    background-size: cover;
    color: #fff;
}
.navbar-transparent{
    background-color: transparent;
    box-shadow: none;
}
.navbar-nav .nav-link {
    color: #fff; /* Cor do texto do link na barra de navegação */
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.logoname{
    font-family: GRANDGALAXY;
    color: aliceblue;
}
.content {
    margin-top: 23%;
    display: flex;
    flex-wrap: wrap; /* Adicionamos flex-wrap para que os itens sejam quebrados em linhas */
}
  
.row {
    width: 100%; /* Define a largura total da row para ocupar todo o espaço horizontal disponível */
}
  
.col-md-4 {
    padding: 0; /* Removemos o padding padrão das colunas */
}
  
.item {
    background-color: #fff;
    padding: 20px;
    height: 100%; /* Para ocupar toda a altura disponível na coluna */
    color: black;
    flex-grow: 1; /* Faz os itens preencherem o espaço vertical disponível */
    border-right: 1px solid #221b1b; /* Adicionamos uma borda lateral entre os itens */
}
  
  /* Removemos a borda lateral do último item */
.item:last-child {
    border-right: none;
}

.footer {
    padding: 6px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
}
.footer p {
    margin: 0;
}
@font-face {
    font-family: GRANDGALAXY;
    src: url(GRANDGALAXY.otf) format('OpenType');
}