/*BARRA DE NAVEGAÇÃO*/
body{
    background-image: url(arstationWALL6.jpg);
    background-color: #f1f0f0;
    background-size: cover;
    color: #000000;
}
.logoname a {
    text-decoration: none; /* Remove o sublinhado da logo */
    color: #fff; /* Define a cor do texto do link */
}
.navbar-transparent{
    background-color: transparent;
    box-shadow: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.navbar-nav .nav-link {
    color: #fff; /* Cor do texto do link na barra de navegação */
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-nav .nav-link.dropdown-toggle {
    color: #fff;
}

/* Cor do texto do link do dropdown quando aberto */
.navbar-nav .nav-link.dropdown-toggle.show {
    color: rgb(200, 200, 200); 
} 
.logoname{
    font-family: GRANDGALAXY;
    color: aliceblue;
}
@font-face {
    font-family: GRANDGALAXY;
    src: url(GRANDGALAXY.otf) format('OpenType');
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf) format('OpenType');
}
p,h3,h4,h5{
    font-family: Roboto;
}
/*FIM DA BARRA DE NAVEGAÇÃO*/

.center-rectangle {
    position: absolute;
    top: 10%; /* Ajuste conforme necessário para posicionar o retângulo verticalmente */
    left: 15%; /* Ajuste conforme necessário para posicionar o retângulo horizontalmente */
    width: 70%; /* Largura do retângulo */
    height: auto; /* Altura do retângulo */
    overflow: auto;
    background-color: rgb(255, 255, 255); /* Cor de fundo com opacidade (0.8 neste caso) */
    border-radius: 15px; /* Valor do raio para arredondar as bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.777);/*ox shadow com valores ajustáveis */
    z-index: 1; /* Coloque o retângulo acima do pseudo-elemento */
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    margin-left: auto;
    margin-right: auto;
}
.subtitle{
    color: #000000;
    display: flex;
    justify-content: left;
    margin-top: 2%;
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    margin-left: auto;
    margin-right: auto;
}
.second_sub{
    color: #00000098;
    display: flex;
    justify-content: left;
    margin-top: 2%;
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
}
.third_sub{
    color: #00000098;
    display: flex;
    justify-content: left;
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
}
hr{
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    display: flex;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}
.first_img{
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.first_img img{
    max-width: 80%; /*ajusta o tamnho da imagem*/
}
figcaption{
    font-size: 80%;
    color: #000000c2;
}
.text{
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
blockquote{
    font-size: 1.1em;
    width:70%;
    margin:2% auto;
    color: #555555;
    padding:1em 3% 1em 4%;
    border-left:8px solid rgb(129, 16, 160) ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
mark{
    color: rgb(0, 0, 0);
    background-color: rgba(129, 16, 160, 0.828);
}
b{
    color: rgb(129, 16, 160);
}
.final_text{
    max-width: 70%; /* Defina o valor máximo desejado para a largura */
    display: flex;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
}
.row{
    max-width: 100%; /* Defina o valor máximo desejado para a largura */
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
