/*BARRA DE NAVEGAÇÃO*/
body{
    background-image: url(vialactea.jpg);
    background-color: #f1f0f0;
    background-size: cover;
    color: #000000;
}
.logoname a {
    text-decoration: none; /* Remove o sublinhado da logo */
    color: #fff; /* Define a cor do texto do link */
}
.navbar-transparent{
    background-color: transparent;
    box-shadow: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.navbar-nav .nav-link {
    color: #fff; /* Cor do texto do link na barra de navegação */
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-nav .nav-link.dropdown-toggle {
    color: #fff;
}

/* Cor do texto do link do dropdown quando aberto */
.navbar-nav .nav-link.dropdown-toggle.show {
    color: rgb(200, 200, 200); 
} 
.logoname{
    font-family: GRANDGALAXY;
    color: aliceblue;
}
@font-face {
    font-family: GRANDGALAXY;
    src: url(GRANDGALAXY.otf) format('OpenType');
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf) format('OpenType');
}
p{
    font-family: Roboto;
    color: #f1f0f0;
}
/*FIM DA BARRA DE NAVEGAÇÃO*/
.title {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    font-family: GRANDGALAXY;
    
}
.paragrafo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sol img { /*sol*/
    position: absolute;
    margin-left: 0%;
    margin-top: 2%;
    max-width: 35%;
    transition: transform 0.2s;
    cursor: pointer;
}
.sol:hover img {
    transform: scale(1.1); /* Aumenta a escala da imagem quando o mouse estiver sobre a div .sol. */
}
.captionSol {
    position: absolute;
    top: 30%;
    left: 6%;
    font-size: 80%;
    background-color: rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}

.sol:hover .captionSol {
    opacity: 1;
}
.mercurio img { /*mercurio*/
    position: absolute;
    margin-left: 20%; /*as posicionadas com float-end mudam a direção do margin*/
    margin-top: 14%;
    max-width: 5%; /*ajusta o tamanho das imagens*/
    transition: transform 0.2s;
    cursor: pointer;
}
.mercurio:hover img {
    transform: scale(1.1);
}
.captionMercurio {
    position: absolute;
    top: 52%;
    left: 20%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}

.mercurio:hover .captionMercurio {
    opacity: 1;
}
.venus img { /*venus*/
    position: absolute;
    margin-left: 25%; 
    margin-top: 13%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.venus:hover img {
    transform: scale(1.1);
}
.captionVenus {
    position: absolute;
    top: 49%;
    left: 26%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}

.venus:hover .captionVenus {
    opacity: 1;
}
.terra img { /*terra*/
    position: absolute;
    margin-left: 33%; 
    margin-top: 13%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.terra:hover img {
    transform: scale(1.1);
}
.captionTerra {
    position: absolute;
    top: 50%;
    left: 33%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}
.terra:hover .captionTerra {
    opacity: 1;
}

.lua img { /*lua*/
    position: absolute;
    margin-left: 38%; 
    margin-top: 12%;
    max-width: 3%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.lua:hover img {
    transform: scale(1.1);
}
.captionLua {
    position: absolute;
    top: 44%;
    left: 37%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}
.lua:hover .captionLua {
    opacity: 1;
}
.marte img { 
    position: absolute;
    margin-left: 40%; 
    margin-top: 14%;
    max-width: 6%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.marte:hover img {
    transform: scale(1.1);
}
.captionMarte {
    position: absolute;
    top: 52%;
    left: 43%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}
.marte:hover .captionMarte {
    opacity: 1;
}
.jupiter img { 
    position: absolute;
    margin-left: 48%; 
    margin-top: 13%;
    max-width: 10%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.jupiter:hover img {
    transform: scale(1.1);
}
.captionJupiter {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}
.jupiter:hover .captionJupiter {
    opacity: 1;
}
.saturno img { 
    position: absolute;
    margin-left: 60%; 
    margin-top: 14%;
    max-width: 17%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.saturno:hover img {
    transform: scale(1.1);
}
.captionSaturno {
    position: absolute;
    top: 52%;
    left: 60%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}
.saturno:hover .captionSaturno {
    opacity: 1;
}
.urano img { 
    position: absolute;
    margin-left: 78%; 
    margin-top: 14%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.urano:hover img {
    transform: scale(1.1);
}
.captionUrano {
    position: absolute;
    top: 52%;
    left: 79%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}
.urano:hover .captionUrano {
    opacity: 1;
}
.netuno img { 
    position: absolute;
    margin-left: 87%; 
    margin-top: 14%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.netuno:hover img {
    transform: scale(1.1);
}
.captionNetuno {
    position: absolute;
    top: 52%;
    left: 86%;
    font-size: 80%;
    background-color:  rgba(25, 7, 7, 0.7);
    color: #ffffffee;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s;
    font-family: Roboto;
}
.netuno:hover .captionNetuno {
    opacity: 1;
}
