/*BARRA DE NAVEGAÇÃO*/
body{
    background-image: url(vialactea.jpg);
    background-color: #f1f0f0;
    background-size: cover;
    color: #000000;
}
.logoname a {
    text-decoration: none; /* Remove o sublinhado da logo */
    color: #fff; /* Define a cor do texto do link */
}
.navbar-transparent{
    background-color: transparent;
    box-shadow: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.navbar-nav .nav-link {
    color: #fff; /* Cor do texto do link na barra de navegação */
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-nav .nav-link.dropdown-toggle {
    color: #fff;
}

/* Cor do texto do link do dropdown quando aberto */
.navbar-nav .nav-link.dropdown-toggle.show {
    color: rgb(200, 200, 200); 
} 
.logoname{
    font-family: GRANDGALAXY;
    color: aliceblue;
}
@font-face {
    font-family: GRANDGALAXY;
    src: url(GRANDGALAXY.otf) format('OpenType');
}
@font-face {
    font-family: AltoneTrial-Regular;
    src: url(AltoneTrial-Regular.ttf) format('OpenType');
}
/*FIM DA BARRA DE NAVEGAÇÃO*/
.title {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    font-family: GRANDGALAXY;
    
}
p{
    font-family: AltoneTrial-Regular;
    color: #f1f0f0;
}
.paragrafo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sol img { /*sol*/
    position: absolute;
    margin-left: 0%;
    margin-top: 2%;
    max-width: 35%;
    transition: transform 0.2s;
    cursor: pointer;
}
.sol:hover img {
    transform: scale(1.1); /* Aumenta a escala da imagem quando o mouse estiver sobre a div .sol. */
}

.mercurio img { /*mercurio*/
    position: absolute;
    margin-left: 20%; /*as posicionadas com float-end mudam a direção do margin*/
    margin-top: 14%;
    max-width: 5%; /*ajusta o tamanho das imagens*/
    transition: transform 0.2s;
    cursor: pointer;
}
.mercurio:hover img {
    transform: scale(1.1);
}
.venus img { /*venus*/
    position: absolute;
    margin-left: 25%; 
    margin-top: 13%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.venus:hover img {
    transform: scale(1.1);
}
.terra img { /*terra*/
    position: absolute;
    margin-left: 33%; 
    margin-top: 13%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.terra:hover img {
    transform: scale(1.1);
}

.lua img { /*lua*/
    position: absolute;
    margin-left: 38%; 
    margin-top: 12%;
    max-width: 3%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.lua:hover img {
    transform: scale(1.1);
}
.marte img { 
    position: absolute;
    margin-left: 40%; 
    margin-top: 14%;
    max-width: 6%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.marte:hover img {
    transform: scale(1.1);
}
.jupiter img { 
    position: absolute;
    margin-left: 48%; 
    margin-top: 13%;
    max-width: 10%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.jupiter:hover img {
    transform: scale(1.1);
}
.saturno img { 
    position: absolute;
    margin-left: 60%; 
    margin-top: 14%;
    max-width: 17%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.saturno:hover img {
    transform: scale(1.1);
}
.urano img { 
    position: absolute;
    margin-left: 78%; 
    margin-top: 14%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.urano:hover img {
    transform: scale(1.1);
}
.netuno img { 
    position: absolute;
    margin-left: 87%; 
    margin-top: 14%;
    max-width: 7%; /*ajusta o tamanho das imagens*/ 
    transition: transform 0.2s;
    cursor: pointer;
}
.netuno:hover img {
    transform: scale(1.1);
}
