body{
    background-image: url(arstationWALL.jpg);
    background-size: cover;
    color: #fff;
    height: 100vh;
    display: flex;    
    justify-content: right;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: right; /*alinha na horizontal ---*/
    align-items: center; /*alinha na vertical |*/
    max-width: 500%;
    margin: 0 auto;
}
.text{
    margin: 5%;
    margin-bottom: 0;
    width: 60%;
    font-family: roboto;
}
.button{
    text-align: center;
}
.logoname{
    margin-top: -5%;
    font-family: GRANDGALAXY;
}
.image{
    margin-left: 8%;
    justify-content: left;
}
@font-face {
    font-family: GRANDGALAXY;
    src: url(GRANDGALAXY.otf) format('OpenType');
}
